.container {
  position: relative;
  height: 60rem;
  background-color: blue;
  background: linear-gradient(
    to bottom right,
    transparent 50%,
    rgb(38, 117, 220) 50%
  );
  transform-origin: top right;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.containerInner {
  position: relative;
  width: 40rem;
  height: 20rem;
  /* border: 1px solid blue; */
  margin-left: 5rem;
  margin-bottom: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.containerCopy {
  position: absolute;
  width: 50%;
  left: 50%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero1 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: rgb(38, 117, 220);
  padding-left: 1rem;
}

.hero2 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: black;
  padding-left: 1rem;
}

.hero3 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: black;
  padding-left: 1rem;
}

.hero4 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: rgb(38, 117, 220);
  padding-left: 1rem;
}

.hero5 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: black;
  padding-left: 1rem;
}

.copy {
  color: white;
  font-family: "Open Sans";
  width: 25rem;
  font-size: 25px;
  margin-top: 18rem;
}

@media (max-width: 1000px) {
  .containerInner {
    margin-left: 1rem;
    margin-bottom: 30rem;
  }
  .copy {
    font-size: 20px;
    margin-top: 18rem;
  }
  .hero1,.hero2,.hero3,.hero4,.hero5 {
    font-size: 30px;
    padding-left: 1rem !important;
  }
}

@media (max-width: 800px) {
  .containerInner {
    margin-left: 1rem;
    margin-bottom: 30rem;
  }

  .containerCopy {
    width: 45%;
  }
  .copy {
    font-size: 17px;
    margin-top: 25rem;
    position: relative;
  }
}

@media (max-width: 420px) {
  .copy {
    font-size: 15px;
    margin-top: 28rem;
  }
}