.container {
  position: relative;
  height: 60rem;
  background-color: blue;
  background: linear-gradient(
    to bottom left,
    transparent 50%,
    rgb(38, 117, 220) 50%
  );
  transform-origin: top right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerInner {
  position: relative;
  width: 30rem;
  height: 20rem;
  /* border: 1px solid blue; */
  margin-bottom: 15rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.copy {
  color: white;
  font-family: "Open Sans";
  width: 25rem;
  font-size: 25px;
  margin-top: 8rem;
  margin-left: 5rem;
}

.hero1 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: rgb(38, 117, 220);
  padding-left: 1rem;
}

.hero2 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: black;
  padding-left: 1rem;
}

.hero3 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: black;
  padding-left: 1rem;
}

.hero4 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: rgb(38, 117, 220);
  padding-left: 1rem;
}

.hero5 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: black;
  padding-left: 1rem;
}
