.container {
  position: relative;
  height: 60rem;
  background-color: blue;
  background: linear-gradient(
    to bottom left,
    transparent 50%,
    rgb(38, 117, 220) 50%
  );
  transform-origin: top right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerInner {
  position: relative;
  width: 30rem;
  height: 20rem;
  /* border: 1px solid blue; */
  margin-bottom: 15rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.copy {
  color: white;
  font-family: "Open Sans";
  width: 25rem;
  font-size: 25px;
  margin-top: 8rem;
  margin-left: 5rem;
}

.hero1 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: rgb(38, 117, 220);
  padding-left: 1rem;
}

.hero2 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: black;
  padding-left: 1rem;
}

.hero3 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: black;
  padding-left: 1rem;
}

.hero4 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: rgb(38, 117, 220);
  padding-left: 1rem;
}

.hero5 {
  font-family: "Open Sans";
  display: block;
  width: 100%;
  font-size: 3rem;
  color: black;
  padding-left: 1rem;
}

@media (max-width: 1300px) {
  .copy {
    color: white;
    font-family: "Open Sans";
    width: 25rem;
    font-size: 25px;
    margin-top: 18rem;
    margin-left: 2rem;
  }
  .containerInner {
    margin-bottom: 25rem !important;
  }
}

@media (max-width: 1000px) {
  .hero1,.hero2,.hero3,.hero4,.hero5 {
    font-size: 30px;
    padding-left: 1rem !important;
  }
  .containerInner {
    margin-bottom: 25rem !important;
    width: 20rem;
  }
  .copy {
    font-size: 20px;
 
  }
}

@media (max-width: 800px) {
  .containerInner {
    margin-bottom: 30rem !important;
    width: 20rem;
  }
  .copyContainer {
    width: 30%;
    margin-top: 25rem;
    margin-left: 2rem;
  }
  .copy {
    font-size: 17px;
    position: relative;
    margin: 0;
    width: 14rem;
  }
}

@media (max-width: 420px) {
  .containerInner {
    margin-bottom: 35rem !important;
    position: relative;
    left: -1rem;
  }
  .copyContainer {
    width: 30%;
    margin-top: 43rem;
    margin-left: 1rem;
  }
  .copy {
    font-size: 17px;
    position: relative;
    margin: 0;
    width: 14rem;
  }
}