.bankpage {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-color: rgb(103, 139, 215);
  background-color: white;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  font-size: 10rem;
}
