.bankpage {
  position: relative;
  width: 100%;
  background-color: black;
  background-color: rgb(103, 139, 215);
  background-color: rgb(235, 233, 233);
  color: white;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  font-size: 10rem;
  margin-bottom: 1rem;
}
