.bankpage {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 10rem;
}
