.container {
  position: relative;
  width: 98%;
  left: 1%;
  background-color: rgb(116, 116, 221);
  background: linear-gradient(
    90deg,
    rgba(103, 103, 239, 0.941),
    rgb(92, 92, 218)
  );
  margin-top: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.filterRow {
  position: relative;
  width: 100%;
  height: 5rem;
  /* background-color: blue; */
  padding: 0.5rem;
}

.filterUl {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.list {
  font-size: 17px;
  color: rgb(222, 222, 222);
  font-family: "Open Sans";
  /* border: 1px solid black; */
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  width: 20%;
  padding-left: 1rem;
  user-select: none;
}
.list:hover {
  color: white;
}

.arrows {
  transform: rotate(136deg);
  font-size: 10px;
  margin-left: 0.5rem;
  /* margin-bottom: 0.1rem; */
}

.listGrid {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 30rem;
  overflow-y: scroll;
}

.gridRow {
  position: relative;
  width: 100%;
  height: 2rem;
  /* background-color: red; */
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rowSpan {
  color: white;
  font-family: "Open Sans";
  font-size: 17px;
  width: 20%;
  padding-left: 1rem;
}

.centered {
  padding-left: 2rem;
}

.noTransactions {
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 10rem;
  width: 100%;
  gap: 1rem;
  color: lightgray;
}
