.nameSetup {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.62);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid black; */
}

.displayText {
  font-size: 2rem;
  font-family: "Open Sans";
  text-align: center;
}

.confirm {
  width: 7.5rem;
  height: 2rem;
  border: none;
  font-family: "Open Sans";
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  font-weight: bold;
}

.confirm:hover {
  background-color: rgba(73, 107, 202, 0.656);
  color: white;
  border: 1px solid white;
}

.errorMsg {
  font-size: 1.5rem;
  font-family: "Open Sans";
  color: red;
}

.nameInput {
  border: none;
  outline: none;
  width: 15rem;
  height: 2rem;
  padding-left: 0.5rem;
  border-radius: 0.2rem;
  font-size: 18px;
}
