.container {
  position: relative;
  width: 100%;
  height: 20rem;
  background-color: rgb(116, 116, 221);
  background: linear-gradient(
    90deg,
    rgb(116, 116, 221),
    rgba(103, 103, 239, 0.941)
  );
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balanceBlock {
  position: relative;
  width: 30rem;
  height: 100%;
}

.balanceTitle {
  font-family: "Open Sans";
  font-size: 2rem;
  color: rgb(226, 222, 222);
  margin-left: 2rem;
  margin-top: 2rem;
}

.balanceAmount {
  font-family: "Open Sans";
  font-size: 3rem;
  display: block;
  margin-left: 2rem;
}

.statsCtaBlock {
  position: relative;
  width: 20rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.sendBtn {
  position: relative;
  width: 9rem;
  height: 3rem;
  border-radius: 0.3rem;
  background-color: rgb(147, 194, 17);
  color: white;
  border: none;
  outline: none;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid transparent;
}

.sendBtn:hover {
  background-color: black;
  color: white;
}

.requestLoanBtn {
  position: relative;
  width: 9rem;
  height: 3rem;
  border-radius: 0.3rem;
  background-color: rgb(237, 97, 50);
  color: white;
  border: none;
  outline: none;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid transparent;
}

.requestLoanBtn:hover {
  background-color: black;
  color: white;
}
