.loginpage {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, white, rgb(38, 117, 220));
}

.loginModal {
  position: relative;
  width: 22rem;
  height: 25rem;
  background-color: rgb(38, 117, 220);
  border-radius: 0.4rem;
}

.inputBox {
  outline: 0;
  border: 0;
  width: 18rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding-left: 0.3rem;
  margin-left: 2rem;
  color: white;
}

.nameInput {
  position: relative;
  width: 100%;
  display: flex;
  color: white;
  margin-top: 6rem;
}

.passInput {
  position: relative;
  width: 100%;
  display: flex;
  color: white;
  margin-top: 2.5rem;
}

.inputBox::placeholder {
  color: rgb(192, 186, 186);
}

.ctaBtns {
  position: relative;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.ctaBtn {
  width: 10rem;
  height: 2rem;
  background-color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-family: "Open Sans";
  font-weight: bold;
}

.ctaBtn:hover {
  background-color: yellow;
}

.errorTxt {
  color: red;
  display: block;
  text-align: center;
  font-family: "Open Sans";
  margin-top: 1rem;
  position: absolute;
  width: 100%;
}

.arrowBack {
  color: rgb(220, 211, 211);
  font-size: 25px;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  position: absolute;
}

.arrowBack:hover {
  color: white;
}
